body {
    background-color: #FFD6E0;
    font-family: sans-serif;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color: #FFBFAE;
    text-align: center;
     font-family: monoid;
}

h2 {
    text-align: center;
    color: #FFF3B0
    font-family: mononoki;
}

img {
 width: 300px;
    align: center;
     border-radius: 700px;
}

p {
  text-align: center;
  color: #805AD5;
  font-family: Sudo;
}
