body {
    background-color: #FFD6E0;
    font-family: sans-serif;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color: #FFBFAE;
    text-align: center;
}

h2 {
    text-align: center;
    color: #FFF3B0
}

img {
 width: 300px;
    align: center;
}

p {
  text-align: center;
  color: #CDEFD3;
}
